[submodule "tests/examples/meteor-ios"]
	path = tests/examples/meteor-ios
	url = git@github.com:TribeMedia/meteor-ios.git
[submodule "tests/examples/sweetpad-demo-cocoapods"]
	path = tests/examples/sweetpad-demo-cocoapods
	url = git@github.com:sweetpad-dev/sweetpad-demo-cocoapods.git
[submodule "tests/examples/sweetpad-demo-xcodegen"]
	path = tests/examples/sweetpad-demo-xcodegen
	url = git@github.com:sweetpad-dev/sweetpad-demo-xcodegen.git
[submodule "tests/examples/terminal23"]
	path = tests/examples/terminal23
	url = git@github.com:hyzyla/terminal23.git
[submodule "tests/examples/sweetpad-multiproject"]
	path = tests/examples/sweetpad-multiproject
	url = https://github.com/sweetpad-dev/sweetpad-multiproject
[submodule "tests/examples/Ampol"]
	path = tests/examples/Ampol
	url = git@github.com:Brett-Best/Ampol.git
[submodule "tests/examples/take_notes"]
	path = tests/examples/take_notes
	url = git@github.com:karona-srun/take_notes.git
