out
dist
node_modules
.vscode-test/
*.vsix


# Ensure .vscode is not ignored in this project
!.vscode/
.vscode/extensions.json
.vscode/settings.json

.env

tests/examples/*
!tests/examples/README.md

task_output.log

.DS_Store