out
dist
node_modules
.vscode-test/
*.vsix


# Ensure .vscode is not ignored in this project
!sweetpad-vscode/.vscode/
sweetpad-vscode/.vscode/extensions.json
sweetpad-vscode/.vscode/settings.json

.env

sweetpad-vscode/tests/examples/*
!sweetpad-vscode/tests/examples/README.md
