.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.vscode-test.*


.vscode/
node_modules/
out/
src/
.eslintrc.json
.gitignore
.prettierrc
.vscode-test.mjs
.vscodeignore
package-lock.json
tsconfig.json
